<div>
  <div class="flex justify-between w-full items-center">
    <div>
      <h3 class="text-[10px] font-semibold">Admin | Connection</h3>
    </div>
    <div class="flex justify-between items-center gap-5">
      <div>
        <button
          mat-flat-button
          class="mb-[18px]"
          (click)="goToHistoryActions()"
        >
          History actions
        </button>
      </div>
      <div>
        <form class="example-form">
          <div class="relative">
            <mat-form-field class="example-full-width">
              <mat-label>Search</mat-label>
              <input
                matInput
                placeholder="Enter information..."
                value="Search information"
                class="w-full border border-gray-300 rounded-md pl-4 pr-12 py-2 focus:outline-none"
              />
              <fa-icon
                [icon]="faService.icons.faMagnifyingGlass"
                class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400 cursor-pointer mt-2"
              >
              </fa-icon>
            </mat-form-field>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="overflow-x-auto">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="idFirst">
        <th mat-header-cell *matHeaderCellDef>First IP</th>
        <td
          mat-cell
          *matCellDef="let element"
          class="truncate-note"
          style="padding: 10px"
        >
          <span matTooltip="{{ element.idFirst }}">{{ element.idFirst }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="portSource">
        <th mat-header-cell *matHeaderCellDef>Port Source</th>
        <td
          mat-cell
          *matCellDef="let element"
          class="truncate-note"
          style="padding: 10px"
        >
          <span matTooltip="{{ element.portSource }}">{{
            element.portSource
          }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="idLast">
        <th mat-header-cell *matHeaderCellDef>Last IP</th>
        <td
          mat-cell
          *matCellDef="let element"
          class="truncate-note"
          style="padding: 10px"
        >
          <span matTooltip="{{ element.idLast }}">{{ element.idLast }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="portTo">
        <th mat-header-cell *matHeaderCellDef>Port To</th>
        <td
          mat-cell
          *matCellDef="let element"
          class="truncate-note"
          style="padding: 10px"
        >
          <span matTooltip="{{ element.portTo }}">{{ element.portTo }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="serviceType">
        <th mat-header-cell *matHeaderCellDef>Service Type</th>
        <td
          mat-cell
          *matCellDef="let element"
          class="truncate-note"
          style="padding: 10px"
        >
          <span matTooltip="{{ element.serviceType }}">{{
            element.serviceType
          }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="connectType">
        <th mat-header-cell *matHeaderCellDef>Connect Type</th>
        <td
          mat-cell
          *matCellDef="let element"
          class="truncate-note"
          style="padding: 10px"
        >
          <span matTooltip="{{ element.connectType }}">{{
            element.connectType
          }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Member</th>
        <td
          mat-cell
          *matCellDef="let element"
          class="truncate-note"
          style="padding: 10px"
        >
          <span matTooltip="{{ element.username }}">{{
            element.username
          }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef>Duration</th>
        <td mat-cell *matCellDef="let element" style="padding: 10px">
          {{ element.duration }} minutes
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element" style="padding: 10px">
          <span
            [ngClass]="{
              'bg-green-500': element.status == 0,
              'bg-red-500': element.status == 1,
              'bg-yellow-500': element.status == 2,
            }"
            class="text-white py-1 px-3 rounded-full"
          >
            {{
              element.status === 0
                ? "Opened"
                : element.status === 1
                ? "Closed"
                : "Pending"
            }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef>Note</th>
        <td
          mat-cell
          *matCellDef="let element"
          class="truncate-note"
          style="padding: 10px"
        >
          <span matTooltip="{{ element.note }}">{{ element.note }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef>Date Time</th>
        <td mat-cell *matCellDef="let element" style="padding: 10px">
          {{ element.updatedAt | date : "short" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element" style="padding: 10px">
          <button
            *ngIf="element.status === 1 || element.status === 2"
            class="text-blue-600 hover:underline"
            (click)="handleOpenAndCloseConnect(element, 'open')"
          >
            Open
          </button>
          <button
            *ngIf="element.status === 0"
            class="text-red-600 hover:underline"
            (click)="handleOpenAndCloseConnect(element, 'close')"
          >
            Close
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-paginator
    [length]="totalItems"
    [pageSize]="8"
    [pageSizeOptions]="[5, 8, 10, 25, 100]"
    showFirstLastButtons
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
