table {
  width: 100%;
}

.overflow-x-auto {
  overflow-x: auto;
  white-space: nowrap;
}

.example-form {
  min-width: 300px;
  max-width: 350px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.truncate-note {
  max-width: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
